body {
	font-family:Arial, sans-serif;
	font-size: large;
	background-color: #f9f9f9;
}

.instructions{
	font-size: 1.5rem;
	font-weight: bold;
	color:#202020;
}

.instructions p {
	font-size:.8rem;
	font-weight: normal;
}
.ingredient{
	font-size: 2rem;
	font-weight: bold;
	color:#e0e0e0;
	padding-left: 50px;
}
.highlight{
	color:black;`
}

#recipe {
	display:table;
	border-spacing: 0px 10px;
}

#ingredients .instructions {
	font-size: 1rem;
}

.step, #intro, #ingredients{
	display: table-row;
	background-color: #ffffff;
}
.instructions, .stepImage{
	display: table-cell;
	vertical-align: top;
	padding: 10px;
}

.instructions h2{
	padding: 0px;
	margin: 0px 0px 10px 0px;
}


.downlink {
	vertical-align: bottom;
}

.col-md-7 p{
	font-size: 2.5rem;
}

#preheat {
	background-color: #f0f0f0;
	padding: 10px;
	color: #ff0000;
}